.addstory--container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 11rem;

	button {
		font-size: 1rem;
		display: block;
		width: 6rem;
		height: 6rem;
		border: none;
		border-radius: 50%;
		transition: 0.2s ease;
		background-color: $primary-color;
		color: $font-color;
		animation: buttonFade .3s;

		&:nth-of-type(even) {
			@include mq('medium') {
				transform: translateY(125%);
			}
		}

		&:nth-of-type(3) {
			display: none;

			@include mq('medium') {
				border: none;
				transition: 0.2s ease;
				display: block;
				font-size: 8rem;
				background-color: transparent;
				color: black;
				transform: rotate(0deg);
				transform-origin: center;
				line-height: 6rem;
			}

			&:focus {
				outline: none;
				color: $primary-color;
				transform: scale(1.1);
			}
		}
	}

	.button--show--rotate {
		display: none;

		@include mq('medium') {
			transform: rotate(45deg) !important;
			color: $secondairy-color !important;
		}

		&:focus {
			outline: none;
			transform: scale(1.1);
		}
	}

	@include mq('medium') {
		max-width: 66%;
	}
	@include mq('large') {
		max-width: 50%;
	}
	@include mq('xl') {
		max-width: 40%;
	}
}
.button--regular--hidden {

	@include mq('medium') {
		animation: buttonFade .3s reverse !important;
		display: none !important;
	}
}

@keyframes buttonFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
