
.header--container {
	width: 100%;
	min-height: 3em;
	background: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	box-shadow: 0 0 20px 0 lightgray;
	position: fixed;
	top: 0;
	z-index: 5;

	svg,
	img {
		height: 2em;
		width: 2em;
	}

	button {
		border: none;
		height: 2em;
		width: 2em;
		background: transparent;
		font-size: 1.5em;
		cursor: pointer;
		@include mq("small") {
			display: none;
		}
	}
}

.navigation {
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	left: 0;
	top: 3em;
	@include mq("small") {
		position: relative;
		top: 0;
	}

	ul {
		height: 10em;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		@include mq("small") {
			flex-direction: row;
			height: inherit;
			width: 100%;
		}
		a {
			text-decoration: none;
			color: black;
			font-size: 0.9em;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				height: 2px;
				background-color: #3369a0;
				width: 0;
				left: 50%;
				bottom: -0.2em;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				-webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
				transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
			}

			&:hover:after {
				width: 100%;
			}
		}
	}
}

.nav--progressive {
	position: absolute;
	width: 100%;
	opacity: 1;
	@include mq("small") {
		position: relative;
		width: 20em;
	}
}

.nav--hide {
	visibility: hidden;
	opacity: 0;
	@include mq("small") {
		opacity: 1;
		visibility: visible;
	}
}

.overflow--hidden {
	overflow: hidden;
}

.gradient {
	position: fixed;
	z-index: 4;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0;
	transition: 0.3s ease;
	visibility: hidden;
}

.gradient--show {
	opacity: 0.7;
	visibility: visible;
}