
    <div class="gradient"></div>
    <header class="header--container">
        <a href="#uitgelicht">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/131573-200.png">
        </a>
        <button>☰</button>
        <nav class="navigation">
            <ul>
                <li>
                    <a href="#uitgelicht">Uitgelicht</a>
                </li>
                <li>
                    <a href="#alle-verhalen">Alle verhalen</a>
                </li>
                <li>
                    <a href="#jouw-verhaal">Jouw verhaal</a>
                </li>
            </ul>
        </nav>
    </header>
    
  
