
    
    <header class="header">
        <div class="header--container">
            <a href="#uitgelicht" href="/">
                <!-- <img src="../../../public/images/boat.svg"> -->
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="2rem" height="2rem" viewBox="0 0 200.000000 200.000000"
                preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M907 1854 c-4 -4 -7 -27 -7 -51 l0 -43 101 0 100 0 -3 48 -3 47 -90
                3 c-50 1 -94 0 -98 -4z"/>
                <path d="M900 1660 l0 -60 100 0 100 0 0 60 0 60 -100 0 -100 0 0 -60z"/>
                <path d="M747 1534 c-4 -4 -7 -36 -7 -71 l0 -63 260 0 261 0 -3 68 -3 67 -251
                3 c-138 1 -253 -1 -257 -4z"/>
                <path d="M627 1333 c-4 -3 -7 -79 -7 -169 l0 -162 176 74 c96 41 188 74 204
                74 16 0 108 -33 205 -74 l175 -74 -2 166 -3 167 -371 3 c-204 1 -373 -1 -377
                -5z"/>
                <path d="M675 975 c-270 -114 -290 -125 -293 -150 -3 -19 19 -63 74 -155 l78
                -128 37 29 c53 42 104 60 165 60 70 0 132 -28 188 -87 l46 -48 0 302 c0 166
                -1 302 -2 301 -2 -1 -133 -56 -293 -124z"/>
                <path d="M1030 797 l0 -301 34 40 c98 115 253 127 371 30 l31 -25 77 130 c55
                90 77 137 75 155 -3 24 -27 36 -295 149 l-293 123 0 -301z"/>
                <path d="M164 566 c-3 -8 -4 -27 -2 -43 3 -24 9 -30 44 -38 28 -7 60 -27 98
                -63 64 -60 108 -82 166 -82 59 0 103 22 169 85 49 47 63 55 96 55 33 0 47 -8
                96 -55 66 -63 110 -85 169 -85 59 0 103 22 169 85 49 47 63 55 96 55 33 0 47
                -8 96 -55 66 -63 110 -85 169 -85 58 0 102 22 166 82 38 36 70 56 98 63 40 10
                41 11 41 50 0 38 -1 40 -34 43 -67 7 -98 -7 -171 -73 -91 -84 -110 -85 -188
                -11 -73 69 -108 86 -176 86 -74 0 -96 -10 -171 -80 -85 -79 -106 -80 -183 -6
                -73 69 -108 86 -176 86 -74 0 -96 -10 -171 -80 -86 -80 -104 -80 -190 0 -36
                33 -77 65 -91 70 -39 15 -114 13 -120 -4z"/>
                <path d="M645 353 c-16 -9 -53 -37 -81 -64 -29 -26 -65 -51 -80 -54 -44 -9
                -59 -20 -62 -44 -5 -35 16 -51 68 -51 51 0 125 40 153 84 21 31 80 58 111 50
                14 -3 42 -24 63 -46 63 -66 110 -88 185 -88 54 0 72 4 106 28 22 15 50 39 61
                53 27 35 84 61 115 53 14 -3 42 -24 63 -46 56 -58 112 -88 164 -88 50 0 69 13
                69 46 0 27 -16 40 -60 48 -24 4 -50 21 -80 52 -61 62 -107 84 -175 84 -66 0
                -115 -22 -165 -75 -75 -79 -121 -81 -191 -9 -24 25 -61 54 -81 65 -46 24 -140
                25 -183 2z"/>
                </g>
                </svg>

            </a>
            <button>☰</button>
            <nav class="navigation">
                <ul>
                    <li>
                        <a href="#uitgelicht">Uitgelicht</a>
                    </li>
                    <li>
                        <a href="#alle-verhalen">Alle verhalen</a>
                    </li>
                    <li>
                        <a href="#jouw-verhaal">Jouw verhaal</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="gradient"></div>
    </header>
    
  
