	<% include ../components/globalFooter/globalFooter.ejs %>
	
	<script src="/scripts/TweenMax.min.js"></script>
	<script src="/scripts/MorphSVG.min.js"></script>
	<script src="/scripts/DrawSVG.min.js"></script>
	<script src="/scripts/TimelineMax.min.js"></script>
	<script src="/scripts/colorThief.js"></script>

	<script nomodule src="/scripts/index.js"></script>
	<script type="module" src="/index.js"></script>
</body>
</html>