* {
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-family: $font-stack-base;
	margin-top: 3em;
}

main {
	margin: 0 auto;
	@include mq('small') {
		padding: 0 2rem;
	}
	@include mq('medium') {
		padding: 0 4rem;
	}
}

h1 {
	font-family: $font-stack-headers;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: initial;
	color: $color-header;
	margin: 1rem;
}

.title__underline--red {
	text-align: center;
	margin: 6rem 0 2rem 0;

	> .underline-red {
		display: inline-block;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 0.25rem;
			background-color: $secondairy-color;
		}
	}
}

h2 {
	font-family: $font-stack-headers;
	font-size: 1.6em;
	font-weight: 700;
	line-height: initial;
	color: $color-header;
	margin: 1rem;
}

h3 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1.6em;
	font-weight: 700;
	color: $color-header;
}

h4 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1.4em;
	font-weight: 700;
	color: $color-header;
}

h5 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1.2em;
	font-weight: 700;
	color: $color-header;
}

h6 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1em;
	font-weight: 700;
	color: $color-header;
}

p {
	font-family: $font-stack-base;
	line-height: 1.4;
	font-size: 1em;
	font-weight: 400;
}

.components__overview {
	li {
		margin: 5em 0;
	}
}
