* {
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-family: $font-stack-base;
	margin-top: 3em;
	display: flex;
	justify-content: center;
}

h1 {
	font-family: $font-stack-headers;
	font-size: 3em;
	font-weight: 700;
	line-height: initial;
}

h2 {
	font-family: $font-stack-headers;
	font-size: 2em;
	font-weight: 700;
	line-height: initial;
}
h3 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1.6em;
	font-weight: 700;
}
h4 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1.4em;
	font-weight: 700;
}
h5 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1.2em;
	font-weight: 700;
}
h6 {
	font-family: $font-stack-headers;
	line-height: initial;
	font-size: 1em;
	font-weight: 700;
}

p {
	font-family: $font-stack-base;
	line-height: 1.4;
	font-size: 1em;
	font-weight: 400;
}

.components__overview {
	li {
		margin: 5em 0;
	}
}
