.autocomplete {
	position: relative;

	ul {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(100%);
		z-index: 1;
	}

	li {
		border: 1px solid #000;
		border-bottom-width: 0;

		&:last-child {
			border-bottom-width: 1px;
		}

		button {
			width: 100%;
			padding: 0.4em 1em;
			background: rgba(#fff, 0.8);
			border: 0;
			font-size: 1em;
			cursor: pointer;
		}
	}
}
