$primary-color: #3369a0;
$secondairy-color: #c81200;
$button-font-color: #fff;
$colorBlue: rgb(17, 69, 223);
$colorWhite: #fafafa;
$font-stack-base: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-headers: 'PT Serif', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$color-base: #fff;
$color-primary: #3369a0;
$color-secondary: #eb2d2d;
$color-primary-hover: #0e76d1;
$color-primary-border: rgb(18, 64, 107)
$color-secondary-hover: #ff6f6f;
$color-secondary-border: #b12020;
$inputPadding: 0.7rem;
$uploadFormFontSize: 1.25rem;
$uploadFormFontWeight: 600;
$color-header: #333;