<form class="stories__form" action="" method="get">
	<fieldset class="stories__search">
		<label for="search">Zoeken op</label>
		<input type="text" id="search" name="search">
	</fieldset>

	<select name="sort" id="sort">
		<option value="uitgelicht" selected>Uitgelicht</option>
		<option value="rating">Aantal keer bekeken</option>
	</select>
</form>
<p class="stories__search--result" id="searchResult">... verhalen gebaseerd op de zoekterm: <span class="underline-red">appel</span> </p>
