<section class="stories__form" data-intersect="true">
	<form class="stories__form--element" action="/story-overview/search" method="POST">
		<fieldset class="stories__search">

			<label for="search">Zoeken op</label>
			<% if(locals.searchTerm) {%>
				<input type="text" id="search" name="search" value="<%= searchTerm %>" placeholder="Zoek hier naar verhalen">
			<% } else { %>
				<input type="text" id="search" name="search" placeholder="Zoek hier naar verhalen">
			<% } %>

			<button class="button--primary" type="submit">Zoeken</button>
		</fieldset><!--
		--><fieldset class="stories__sort">
			<label for="sort">Sorteer op</label>
			<select name="sort" id="sort">
				<option value="oudste" selected>Oudste</option>
				<option value="nieuwste">Nieuwste</option>
			</select>
			<button class="button--primary" type="submit">Sorteren</button>
		</fieldset>
	</form>
</section>
<% if(locals.searchTerm !== undefined && locals.sortTerm === undefined) {%>
<p class="stories__search--result" id="searchResult"><span id="number-result">...</span> verhalen gebaseerd op de zoekterm: <span id="search-word" class="underline-red"> <%= searchTerm %> </span> </p>
<% } else if (locals.searchTerm !== undefined && locals.sortTerm !== undefined) {%>
<p class="stories__search--result" id="searchResult"><span id="number-result">...</span> verhalen gebaseerd op de zoekterm: <span id="search-word" class="underline-red"> <%= searchTerm %> </span> en gesorteerd op: <span id="search-word" class="underline-red"> <%= sortTerm %> </span>  </p>
<% } else {}%>
