.calltoaction--container {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;

	a {
		border: none;
		background: red;
		color: #fff;
		padding: 1.5rem;
		font-size: 1.5rem;
		line-height: 0;
	}
}

.calltoaction--paragraph {
	width: 100%;
	padding: 1rem;
	font-size: 2rem;
	line-height: 2rem;
	padding-right: 0;
	border-left: 2px solid red;
}