.calltoaction--container {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	a {
		padding: 1rem
		font-size: 1rem;
		background-color: $color-secondary;

		&:hover {
			background-color: #e64c4c;
		}
		@include mq('medium') {
			padding: 1.5rem 6rem;
			font-size: 1.5rem;
		}
	}
}

.calltoaction--paragraph {
	max-width: 50rem;
	padding: 1rem;
	font-size: 2rem;
	line-height: 2rem;
	padding-right: 0;
	border-left: 2px solid red;
}
