<% include ./partials/head.ejs %>

<% include ./components/header/header.ejs %>
<ul class="components__overview">
	<li>
		<% include ./components/main/main.ejs %>
		<% include ./components/adminLogin/adminLogin.ejs %>
	</li>
</ul>

<% include ./partials/footer.ejs %>
