<% include ./partials/head.ejs %>
<% include ./components/header/header.ejs %>
<main>
<% include ./components/storyHighlight/storyHighlight.ejs %>

<% include ./components/enhancedDetail/enhancedDetail.ejs %>
<% include ./components/reactions/reactions.ejs %>
</main>
<% include ./partials/footer.ejs %>

<% include ./components/enhancedDetail/enhancedDetail.ejs %>