<% include ./partials/head.ejs %>
<% include ./components/header/header.ejs %>
<main class="detailpage--main">
	<% include ./components/storyHighlight/storyHighlight.ejs %>
	<% include ./components/enhancedDetail/enhancedDetail.ejs %>
	<% include ./components/callToAction/callToAction.ejs %>
	<% include ./components/reactions/reactions.ejs %>
	<% include ./components/reportComponent/reportComponent.ejs %>
</main>
<% include ./partials/footer.ejs %>
