<% include ./partials/head.ejs %>

<h2>Detail</h2>
<!--
<% include ./components/enhancedDetail/enhancedDetail.ejs %> -->
<% include ./components/detailContentContainers/contentVideo.ejs %>

<% include ./partials/footer.ejs %>
