<% include ./partials/head.ejs %>

<<<<<<< HEAD
<h2>Detail</h2>
<!--
<% include ./components/enhancedDetail/enhancedDetail.ejs %> -->
<% include ./components/detailContentContainers/contentVideo.ejs %>
=======
<% include ./components/header/header.ejs %>
<% include ./components/storyHighlight/storyHighlight.ejs %>
>>>>>>> 78eaff881e303505ea0222949c949d74b07e0495

<% include ./partials/footer.ejs %>
