<% include ./partials/head.ejs %>
<% include ./components/header/header.ejs %>

<% include ./components/map/map.ejs %>

<main class="homepage__main">
	<h2 class="title__underline--red stories--title"><span class="underline-red">Uitgelichte</span> <span>verhalen</span></h2>
	<% include ./components/storyGrid/storyGrid.ejs %>
</main>

<% include ./partials/footer.ejs %>