<% include ./partials/head.ejs %>
<% include ./components/header/header.ejs %>

<% include ./components/map/map.ejs %>

<main class="homepage__main">
	<% include ./components/storyGrid/storyGrid.ejs %>
</main>

<% include ./partials/footer.ejs %>