<% include ./partials/head.ejs %>
<% include ./components/header/header.ejs %>

<main class="stories offline">
	<h1 class="title__underline--red stories--title"><span class="underline-red">Oeps...</span> <span>Je lijkt offline te zijn</span>
	</h1>
	<p>Helaas de boot is al gevaren...</p>
	<p>Geen probleem! Probeer het later nog eens of probeer dit:</p>
	<p><a href="/" class="button--primary">Klik hier</a> om terug te gaan naar de homepagina</p>
</main>


<% include ./partials/footer.ejs %>
