<% include ./partials/head.ejs %>
<% include ./components/header/header.ejs %>

<main class="stories">
	<h1 class="title__underline--red stories--title"><span class="underline-red">Story</span> <span>Upload</span></h1>
	<% include ./components/uploadForm/uploadForm %>
</main>

<% include ./partials/footer.ejs %>