<% include ./partials/head.ejs %>

<main class="stories">
	<h1 class="stories--title">Story Overview</h1>


	<hr>
	<section class="stories__pagination">
		<a href="#" aria-current="page">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
	</section>
</main>


<% include ./partials/footer.ejs %>