<div class="container--fullscreen">
	<div class="container--login">
		<h2>Admin</h2>
		<form method="POST" action="/admin/login">
			<label> Email:
					<input type="email" name="email" autofocus required >
			</label>
			<label> Password:
					<input type="password" name="password" pattern=".{7,}" title="minimum 7 characters" required>
			</label>
			<input type="submit" value="Login">
		</form>
	</div>
</div>