<section class="stories__grid">
	<% if ( content.length ) { %>
		<% content.forEach( ( singleContent ) => { %>
			<%- include( './components/storyGridCard/storyGridCard', {
				ID: singleContent.ID,
				image: singleContent.image,
				title: singleContent.title,
				subtitle: singleContent.text
			} ) %>
		<% } ) %>
	<% } else { %>
		<h2 id='reactions-anchor'><span class='underline-red'>Nog</span> geen verhalen</h2>
	<% } %>
</section>
