<section class="stories__grid">
	<% include ../storyGridCard/storyGridCard.ejs %>
	<% include ../storyGridCard/storyGridCard.ejs %>
	<% include ../storyGridCard/storyGridCard.ejs %>
	<% include ../storyGridCard/storyGridCard.ejs %>
	<% include ../storyGridCard/storyGridCard.ejs %>
	<% include ../storyGridCard/storyGridCard.ejs %>	
</section>
