<section class="stories__grid">
	<a href="" class="stories__grid--card">
		<article>
			<h2>Mijn opa, de boef</h2>
			<p>Een kort verhaal over de opa van Berend die een appel gestolen had van de boot.</p>
		</article>
	</a>
	<a href="" class="stories__grid--card">
		<article>
			<h2>Mijn opa, de boef</h2>
			<p>Een kort verhaal over de opa van Berend die een appel gestolen had van de boot.</p>
		</article>
	</a>
	<a href="" class="stories__grid--card">
		<article>
			<h2>Mijn opa, de boef</h2>
			<p>Een kort verhaal over de opa van Berend die een appel gestolen had van de boot.</p>
		</article>
	</a>
	<a href="" class="stories__grid--card">
		<article>
			<h2>Mijn opa, de boef</h2>
			<p>Een kort verhaal over de opa van Berend die een appel gestolen had van de boot.</p>
		</article>
	</a>
	<a href="" class="stories__grid--card">
		<article>
			<h2>Mijn opa, de boef</h2>
			<p>Een kort verhaal over de opa van Berend die een appel gestolen had van de boot.</p>
		</article>
	</a>
	<a href="" class="stories__grid--card">
		<article>
			<h2>Mijn opa, de boef</h2>
			<p>Een kort verhaal over de opa van Berend die een appel gestolen had van de boot.</p>
		</article>
	</a>
</section>