<section class="stories__grid">
	<% if (storyCards.length) { %>
		<% storyCards.forEach((storyCard) => { %>
			<%- include( './components/storyGridCard/storyGridCard', {
				image: storyCard.image,
				title: storyCard.title,
				subtitle: storyCard.subtitle
			} ) %>
		<% }) %>
	<% } else { %>
		<h2 id='reactions-anchor'><span class='underline-red'>Nog</span> geen verhalen</h2>
	<% } %>
</section>
