<article class="container--main">
	<article class="detail__content--container">
		<div class="detail__content">
			<% include ../detailContentContainers/contentTags.ejs %>
		</div>
	</article>
	<article class="detail__content--container">
		<div class="detail__content">
			<% include ../detailContentContainers/contentTitle.ejs %>
		</div>
	</article>
	<article class="detail__content--container">
		<div class="detail__content">
			<% include ../detailContentContainers/contentParagraph.ejs %>
		</div>
	</article>
	<article class="detail__content--container">
		<div class="detail__content">
			<% include ../detailContentContainers/contentVideo.ejs %>
		</div>
	</article>
	<article class="detail__content--container">
		<div class="detail__content">
			<% include ../detailContentContainers/contentImage.ejs %>
		</div>
	</article>
	<article class="detail__content--container">
		<div class="detail__content">
			<% include ../detailContentContainers/contentAudio.ejs %>
		</div>
	</article>
	<article class="detail__content--container">
		<div class="detail__content">
			<% include ../detailPageCallToAction/detailPageCallToAction.ejs %>
		</div>
	</article>
</article>
