
.story--container {
	background: black;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	position: relative;
	@include mq("medium") {
		height: 20rem;
		flex-direction: row;
	}
	@include mq("xl") {
		height: 25rem;
	}
	&:after {
		content: "";
		height: 100%;
		width: 100%;
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 55%, rgba(0,0,0,0.85) 63%, rgba(0,0,0,0) 100%); 
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 55%,rgba(0,0,0,0.85) 63%,rgba(0,0,0,0) 100%); 
		background: linear-gradient(to top, black 30%,rgba(0, 0, 0, 0.76) 40%,rgba(0,0,0,0) 100%); 
		position: absolute;
		@include mq("small") {
			background: linear-gradient(to top, black 30%,rgba(0, 0, 0, 0.76) 40%,rgba(0,0,0,0) 100%); 
		}
		@include mq("medium") {
			background: linear-gradient(to right, black 60%,rgba(0, 0, 0, 0.76) 70%,rgba(0,0,0,0) 100%); 
		}
	}
	
	.story--container-text {
		margin-top: -5em;
		width: 100%;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@include mq("medium") {
			margin-top: 0; 
		}
		h1 {
			font-size: 5vw;
			position: relative;
			z-index: 1;
			color: $color-base;
			margin-bottom: 1rem;
		}
		p {
			position: relative;
			z-index: 1;
			color: $color-base;
			font-size: 0.9rem;
		}
	}

	.story--container-image {
		height: 100%;
		width: 100%;
		overflow: hidden;
		
		@include mq("medium") {
			width: 70%;
		}
		img {
			min-height: 100%;
			width: 100%;
			display: block;
			object-fit: cover;
			object-position: 50% 0%;
			float: right;
		}
	}
}
