.story--container {
	background: black;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	position: relative;
	min-height: 25rem;
	max-height: 30rem;
	@include mq("small") {
		min-height: 30rem;
	}
	@include mq("medium") {
		flex-direction: row;
		min-height: 25rem;
	}
	@include mq("large") {
		flex-direction: row;
		min-height: 30rem;
		max-height: 35rem;
	}

	.story--container-text {
		background: linear-gradient(70deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
		flex-shrink: 5;
		padding: 2rem;
		padding-left: 5%;
		padding-right: 0;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		position: absolute;
		min-width: 50%;
		bottom: 0;
		text-shadow: 0 0 10px gray;
		@include mq("medium") {
			position: relative;
		}
		@include mq("xl") {
			padding-left: 2rem;
			padding-left: 10%;
		}

		h1 {
			font-size: 2rem;
			position: relative;
			z-index: 1;
			color: $color-base;
			margin-bottom: 1rem;
			@include mq("medium") {
				font-size: 3.5rem;
			}
			@include mq("xl") {
				font-size: 5rem;
			}
		}

		p {
			position: relative;
			z-index: 1;
			color: $color-base;
			font-size: 0.9rem;
			margin-bottom: 0;
			@include mq("medium") {
				font-size: 1.1rem;
			}
		}
	}

	.story--container-image {
		flex-grow: 5;
		height: 100%;
		position: relative;
		@include mq("medium") {
			max-width: 50%;
			min-width: 25rem;
		}
		@include mq("xl") {
			min-width: 30rem;
		}

		img {
			max-width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			float: right;
			width: 100%;
			@include mq("medium") {
				width: auto;
				min-width: 100%;
			}
		}

		&:before {
			content: "";
			height: 100%;
			width: 100%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.672) 30%, rgba(0, 0, 0, 0.611) 40%, rgba(0, 0, 0, 0) 100%);
			position: absolute;
			@include mq("small") {
				background: linear-gradient(to top, rgba(0, 0, 0, 0.72) 20%, rgba(0, 0, 0, 0.556) 40%, rgba(0, 0, 0, 0) 100%);
			}
			@include mq("medium") {
				background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
			}
		}
	}
}
