
<div class="story--container">
	<div class="story--container-text">
		<h1>Mijn Opa, de Boef</h1>
		<p>Een kort verhaal over de opa van beren die een appel gestolen had van de boot </p>
	</div>
	<div class="story--container-image">
		<img src="/images/example-detail.jpg" alt="highlighted-image">
	</div>
</div>