
<div class="story--container">
	<div class="story--container-text">
		<h1>Mijn Opa, de Boef</h1>
		<h2>Een kort verhaal over de opa van beren die een appel gestolen had van de boot</h2>
	</div>
	<div class="story--container-image">
		<img src="https://i.imgur.com/ztkvATQ.jpg" >
	</div>
</div>