
<div class="story--container">
	<div class="story--container-text">
		<h1>Mijn Opa, de Boef</h1>
		<p>Een kort verhaal over de opa van beren die een appel gestolen had van de boot </p>
	</div>
	<div class="story--container-image">
		<img src="https://static.tumblr.com/730bfb5932d838dafb505ad525b3858e/fi5gujd/Oxhohkqqw/tumblr_static_tumblr_static_7cn3g6d1grwow8ck8o4oko8oc_640.jpg" alt="highlighted-image">
	</div>
</div>

<!-- https://www.gannett-cdn.com/-mm-/678e100dcb8e14470f77ab6efc463f1fb1304ef4/c=80-0-2208-1600&r=x404&c=534x401/local/-/media/2016/07/15/Salem/Salem/636042049641992137-SAL-OldLetters-MJS-003.JPG -->
<!-- https://img.bidorbuy.co.za/image/upload/user_images/041/1330041/1330041_140228104020_Old_sailor_byW_._Jawon.JPG -->
<!-- https://static.tumblr.com/730bfb5932d838dafb505ad525b3858e/fi5gujd/Oxhohkqqw/tumblr_static_tumblr_static_7cn3g6d1grwow8ck8o4oko8oc_640.jpg -->