
<div class="story--container">
	<div class="story--container-text">
		<h1>Mijn Opa, de Boef</h1>
		<p>Een kort verhaal over de opa van beren die een appel gestolen had van de boot </p>
	</div>
	<div class="story--container-image">
		<img src="https://i.imgur.com/ztkvATQ.jpg" >
	</div>
</div>

<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS73zcXeYqKBXBb-l5jhbNqRJw-3GAyVl0t5Pf7wJhCGzy5NsYq -->
<!-- https://i.imgur.com/ztkvATQ.jpg -->
<!-- https://c2.staticflickr.com/4/3567/3788090875_76debea09b_z.jpg?zz=1 -->
<!-- https://i.pinimg.com/originals/0a/96/fd/0a96fd169f342b9fed49f913e58769df.jpg -->
<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzEhk3hIkqdHhtuOyKnL51dsNNCMyUm3o8pjI3xiWDWYpwg96Vsw -->
<!-- http://www.ssmaritime.com/oranje3.jpg -->