<section class="stories__pagination" aria-label="pagination">
	<hr>
	<a class="link" href="#" aria-current="page">1</a>
	<a class="link" href="#">2</a>
	<a class="link" href="#">3</a>
	<a class="link" href="#">4</a>
</section>
