<section class="stories__pagination" aria-label="pagination">
	<hr>
	<% for ( var i = 0; i < numOfPages; i++ ) { %>

		<a class="link" href="/story-overview?index=<%= i + 1 %>"
			<% if ( i + 1 === pageIndex ) { %>
				aria-current="page"
			<% } %>
		><%= i + 1 %></a>

	<% } %>
	
</section>
