// variables

$color-base: #fff;
$color-primary: #4f8cef;
$color-secondary: #eb2d2d;

$color-lightblue: #6dbbff;
$color-darkblue: rgb(43, 113, 179);

// general: styleguide container styling

.styleguide--container {
	margin-top: -3em;
	padding: 5%;
}

.container--component {
	padding: 10% 0;
	border-bottom: 2px dashed black;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}
}

.container--items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.css--selector-list {
	list-style: initial;
	margin: 1em;
	vertical-align: initial;
	li {
		margin: 0.5em;
	}
	i {
		font-style: italic;
		font-size: 0.8em;
	}
}

// buttons

.button--standard {
	font-size: 0.8rem;
	height: 2.5rem;
	padding: 0.5rem 2.5rem;
	background-color: $color-primary;
	border-radius: 100px;
	border: none;
	cursor: pointer;
	color: white;
	margin: 1em;
	transition: 0.2s ease;

	&:hover,
	&:focus {
		background-color: $color-lightblue;
	}
}

.button--3d {
	box-shadow: 0 3.5px 0 0.1px $color-darkblue;

	&:hover,
	&:focus {
		transform: translateY(3.5px);
		box-shadow: none;
	}
}

.button--gradient {
	background-size: 200% auto;
	background-image: linear-gradient(to right, $color-primary 0%, $color-lightblue 51%, $color-primary 100%);

	&:hover,
	&:focus {
		background-position: center;
	}
}

.button--square {
	border-radius: 0;
}

.button--squareish {
	border-radius: 4px;
}

.button--grow {
	&:hover,
	&:focus {
		transform: scale(1.1);
		box-shadow: 0 2px 5px 1px lightgray;
	}
}

// link

.link {
	text-decoration: underline;
	color: $color-primary;
	transition: 0.2s ease;
	cursor: pointer;
}

.link:hover {
	color: $color-darkblue;
}

// colors

.color--container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-right: 3em;
}

.color--box {
	box-shadow: 0 0 20px 0 lightgray;
	height: 4em;
	width: 4em;
	margin-bottom: 1em;
}

// color variations:

.color--base {
	background: $color-base;
}

.color--primary {
	background: $color-primary;
}

.color--secondary {
	background: $color-secondary;
}

// text

.styleguide--container {

	h1 {
		font-size: 3em;
		font-weight: 700;
		margin-right: 1em;
		line-height: initial;
	}

	h2 {
		font-size: 2em;
		font-weight: 700;
		margin-right: 1em;
	}
	h3 {
		line-height: initial;
		padding: initial;
		font-size: 1.6em;
		font-weight: 700;
		margin-right: 1em;
	}
	h4 {
		font-size: 1.4em;
		font-weight: 700;
	}
	h5 {
		font-size: 1.2em;
		font-weight: 700;
		margin-right: 1em;
	}
	h6 {
		font-size: 1em;
		font-weight: 700;
		margin-right: 1em;
	}

	p {
		font-size: 1em;
		font-weight: 400;
		margin-right: 1em;
	}
}
