
// general: styleguide container styling

.styleguide--container {
	margin-top: -3em;
	padding: 5%;
}

.container--component {
	padding: 10% 0;
	border-bottom: 2px dashed black;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}
}

.container--items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.css--selector-list {
	list-style: initial;
	margin: 1em;
	vertical-align: initial;

	li {
		margin: 0.5em;
	}

	i {
		font-style: italic;
		font-size: 0.8em;
	}
}

// buttons

.button--primary {
	font-size: 1rem;
	text-align: center;
	padding: 0.75rem 1rem;
	background-color: darken($color-primary, 10%);
	border: none;
	cursor: pointer;
	color: white;
	margin: 1em 0;
	transition-property: transform, background-color, box-shadow;
	transition: 150ms ease-out;

	&:hover,
	&:focus {
		background-color: darken($color-primary, 15%);
		transform: scale(1.01);
		box-shadow: 0 0.2rem 0.5rem -0.1rem darken($color-primary, 20%);
	}
}

.button--secondary {
	font-size: 1rem;
	text-align: center;
	padding: 0.75rem 1rem;
	background-color: $colorWhite;
	border: 2px solid $color-primary;
	cursor: pointer;
	color: darken($color-primary, 40%);
	margin: 1em 0;
	transition-property: transform, background-color, box-shadow;
	transition: 150ms ease-out;
	border-radius: 2rem;
	position: relative;

	&:hover,
	&:focus {
		transform: scale(1.01);
		box-shadow: 0 0.2rem 0.5rem -0.1rem darken($color-primary, 20%);
	}
}

.button--primary-round {
	font-size: 0.8rem;
	min-height: 4rem;
	min-width: 4rem;
	background-color: $color-primary;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	color: white;
	margin: 1em;
	transition: 0.2s ease;
	box-shadow: 0 0 10px 0 lightgray;

	&:hover,
	&:focus {
		background-color: $color-primary-hover;
	}
}

.button--secondary-round {
	font-size: 0.8rem;
	min-height: 4rem;
	min-width: 4rem;
	background-color: $color-secondary;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	color: white;
	margin: 1em;
	transition: 0.2s ease;
	box-shadow: 0 0 10px 0 lightgray;

	&:hover,
	&:focus {
		background-color: $color-secondary-hover;
	}
}

.button--primary-round-big {
	font-size: 0.8rem;
	min-height: 6rem;
	min-width: 6rem;
	background-color: $color-primary;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	color: white;
	margin: 1em;
	transition: 0.2s ease;
	box-shadow: 0 0 10px 0 lightgray;

	&:hover,
	&:focus {
		background-color: $color-primary-hover;
	}
}

.button--secondary-round-big {
	font-size: 0.8rem;
	min-height: 6rem;
	min-width: 6rem;
	background-color: $color-secondary;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	color: white;
	margin: 1em;
	transition: 0.2s ease;
	box-shadow: 0 0 10px 0 lightgray;

	&:hover,
	&:focus {
		background-color: $color-secondary-hover;
	}
}

// link

.link {
	text-decoration: underline;
	color: $color-primary;
	transition: 0.2s ease;
	cursor: pointer;
}

.link:hover {
	color: $color-secondary-border;
}

// colors

.color--container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-right: 3em;
}

.color--box {
	box-shadow: 0 0 20px 0 lightgray;
	height: 4em;
	width: 4em;
	margin-bottom: 1em;
}

// color variations:

.color--base {
	background: $color-base;
}

.color--primary {
	background: $color-primary;
}

.color--secondary {
	background: $color-secondary;
}
