
<h1>Buttons:</h1>
<ul class="css--selector-list">
	<li>.button--standard <i>- required</i></li>
	<li>.button--square</li>
	<li>.button--3d</li>
	<li>.button--gradient</li>
	<li>.button--grow</li>
</ul>
<div class="container--items">
	<button class="button--standard">click</button>
	<button class="button--standard button--square">click</button>
	<button class="button--standard button--3d">click</button>
	<button class="button--standard button--3d button--square">click</button>
	<button class="button--standard button--3d button--gradient">click</button>
	<button class="button--standard button--3d button--square button--gradient">click</button>
	<button class="button--standard button--grow">click</button>
</div>
