
<h1>Buttons:</h1>
<h4>Works with input type=submit</h4>
<ul class="css--selector-list">
	<li>.button--primary</li>
	<li>.button--secondary</li>
	<li>.button--primary-round</li>
	<li>.button--secondary-round</li>
</ul>
<div class="container--items">
	<button class="button--primary">click</button>
	<button class="button--secondary">click</button>
	<button class="button--primary-round">click</button>
	<button class="button--secondary-round">click</button>
	<button class="button--primary-round-big">click</button>
	<button class="button--secondary-round-big">click</button>
</div>
<h1>Links:</h1>
<ul class="css--selector-list">
	<li>.link</li>
</ul>
<a class="link">Go here</a>