<h1>Colors</h1>
<div class="container--items"> 
	<div class="color--container">
		<div class="color--box color--1"></div>
		<h4>#ffffff</h4>
	</div>
	<div class="color--container">
		<div class="color--box color--2"></div>
		<h4>#4f8cef</h4>
	</div>
	<div class="color--container">
		<div class="color--box color--3"></div>
		<h4>#eb2d2d</h4>
	</div>
</div>
