<h1>Colors</h1>
<div class="container--items"> 
	<div class="color--container">
		<div class="color--box color--base"></div>
		<h4>.color--base</h4>
		<h4>#ffffff</h4>
	</div>
	<div class="color--container">
		<div class="color--box color--primary"></div>
		<h4>.color--primary</h4>
		<h4>#4f8cef</h4>
	</div>
	<div class="color--container">
		<div class="color--box color--secondary"></div>
		<h4>.color--secondary</h4>
		<h4>#eb2d2d</h4>
	</div>
</div>
