.reactions {
	max-width: 64rem;
	margin: 0 auto;
	padding: 5%;

	button {
		margin: 1rem 0;
	}

	&__send {
		margin: 1rem 0 3rem 0;

		[name="reaction"],
		[for="name"],
		[name="name"] {
			font-size: 1rem;
		}

		[name="reaction"],
		[name="name"] {
			padding: 1rem;
			border: 1px solid rgba(150, 150, 150, 1);
		}

		[name="reaction"] {
			min-width: 18rem;
			width: 60%;
			min-height: 8rem;
		}

		[for="name"] {
			padding: 0.5rem 0;
		}

		[name="name"] {
			min-width: 18rem;
			width: 60%;
		}
	}

	&__first-order {
		padding: 2rem 0;
	}

	&__second-order {
		margin: -2rem 0 2rem 4rem;
	}

	&__header {
		padding: 1rem 0;

		&--image {
			width: 3rem;
			height: 3rem;
			vertical-align: middle;
			margin-right: 0.75rem;
		}

		&--name {
			font-family: $font-stack-headers;
			font-weight: 600;
			display: inline-block;

			&::after {
				content: '';
				display: inline-block;
				width: 0.5rem;
				height: calc(1rem / 12);
				background-color: black;
				margin: 0 0.5rem;
				vertical-align: middle;
			}
		}
	}
}
