<section class="reactions">
	<h2>Reageer op dit verhaal</h2>
	<form class="reactions__send" action="/detail/<%= storyID %>/comment" method="post">
		<textarea name="reaction" id="reaction" cols="30" rows="10" pattern="[\s\S]*" placeholder="Uw reactie"></textarea>
		<label for="name">Uw naam</label>
		<input type="text" name="name" pattern="[\s\S]*" placeholder="Jan Jansen">
		<button type="submit" class="button--primary">Versturen</button>
	</form>
	
	<% if (reactions.length) { %>
		<h2 id='reactions-anchor'><span class='underline-red'>Reacties</span> op dit verhaal</h2>
		<% reactions.forEach((reaction) => { %>
			<%- include( './components/reactionsComment/reactionsComment', {
				id: reaction.ID,
				responseTo: reaction.responseTo,
				datetime: reaction.datetime,
				time: reaction.time,
				reaction: reaction.text,
				name: reaction.name
			} ) %>
			<% if ( reaction.childResponses ) { %>
				<% reaction.childResponses.forEach((childReaction) => { %>
					<%- include( './components/reactionsComment/reactionsComment', {
						id: reaction.ID,
						responseTo: childReaction.responseTo,
						datetime: childReaction.datetime,
						time: childReaction.time,
						reaction: childReaction.text,
						name: childReaction.name
					} ) %>
				<% }) %>
			<% } %>
		<% }) %>

	<% } else { %>
		<h2 id='reactions-anchor'><span class='underline-red'>Nog</span> geen reacties</h2>
	<% } %>
</section>