.content--container-tags {
	li {
		display: inline-block;
	}

	a {
		color: $color-secondary;
		transition: 0.2s ease;
		display: block;

		&::first-letter {
			text-transform: uppercase;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.tag--container {
	display: flex;
	margin-bottom: 2rem;

	p {
		margin-top: 0;
		width: fit-content;
		margin-right: 1rem;
		transform: translateY(-0.125rem);
	}
}
