.content--title {
	margin-bottom: 0.5rem;
	position: relative;
	@include mq('medium') {
		margin-bottom: 1.5rem;

		&:before {
			bottom: -0.2em !important;
		}
	}

	&:before {
		content: "";
		height: 2px;
		width: 5rem;
		background: red;
		position: absolute;
		left: 0;
		bottom: 0.05em;
	}
}
