.container--main {
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	@include mq('medium') {
		max-width: 55rem;
	}
}

.content--container-text {
	font-size: 1.2rem;
	font-weight: 200;
	margin-bottom: 2rem;
}
