.container--main {
	margin-bottom: 2rem;
	padding-left: auto;
	padding-right: auto;
	margin-left: 5%;
	margin-right: 5%;
	@include mq('medium') {
		max-width: 55rem;
	}
}

.content--container-text {
	font-size: 1.2rem;
	font-weight: 200;
	margin-bottom: 2rem;
}
