<div class="tag--container">
	<% if ( story.allTags.length ) { %>
	<p>Tags: </p>
	<ul class="content--container-tags">
		<% story.allTags.forEach( function( el ) { %>
			<li><a href="#"><%= el.name %></a></li>
		<% } ) %>
	</ul>
	<% } else { %>
		<p>Tags: There are no tags</p>
	<% } %>
</div>
