<p class="content--container-text">
	De eerste reis van de Oranje begon op 4 september 1939 en voerde van Amsterdam naar Batavia op Java, via Kaap de Goede Hoop. Echter, toen het schip arriveerde, was de Tweede Wereldoorlog begonnen. Uit veiligheidsoverwegingen werd het schip opgelegd in Soerabaja. In februari 1941 werd de kapitein van de Oranje opgedragen om naar Sydney te varen en zijn schip over te dragen aan de Australische marine. De Nederlandse overheid kwam met de Australische overheid overeen dat de Oranje verbouwd zou worden tot hospitaalschip op kosten van Australië. Hoewel ze onder Australisch bevel voer, hield ze haar Nederlandse bemanning en bleef ze onder Nederlandse vlag. De Oranje was het grootste hospitaalschip van Australië en maakte gedurende de hele oorlog 41 reizen.
	Na de oorlog werd de Oranje weer ingezet als passagiersschip.
</p>
