<footer class='footer'>
	<img src="/images/boat.svg" alt="">

	<h2 class='footer__title'>
		De verhalen vanger
	</h2>

	<p>
		Deze website is onderdeel van een tentoonstelling over De Oranje van Het Scheepvaartmuseum.
	</p>

	<a class='footer__link' href="https://www.hetscheepvaartmuseum.nl/" target='_blank' rel='noopener'>Bezoek de website van Het Scheepvaartmuseum</a>

	<div class='footer__bottom'>
	<p>© Het Scheepvaartmuseum 2018</p>
	</div>

</footer>