<form class="upload-form" method="post" enctype="multipart/form-data" action="/story-upload/upload">
	<legend>Begin je verhaal</legend>
	<p class="upload-form--natural-form">
		<span data-disclose="form">
			Ik ben
			<span class="inputAnimation-container">
				<input class="inputAnimation" type="text" placeholder="Naam of anoniem">
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
		<span data-disclose="form">
			en ik wil een verhaal vertellen over 
			<span class="inputAnimation-container required">
				<input class="inputAnimation" type="text" name="title" required placeholder="titel">
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
		<span data-disclose="form">
			dit speelde zich af
			<span class="autocomplete inputAnimation-container" data-search="locations">
				<input class="inputAnimation" type="text" name="location" placeholder="locatie" autocomplete="off">
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
		<span data-disclose="form">
			in het jaar 
			<span class="inputAnimation-container">
				<input class="inputAnimation" type="text" name="time" placeholder="19..">.
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
	</p>

	<fieldset data-disclose="form" class="upload-form__story">
		<legend>Dit is mijn verhaal:</legend>
		<textarea name="storyText-1-0" data-index="0" id="story" cols="30" rows="10" placeholder="Jouw verhaal"></textarea>
		<section class="hide-when-no-js upload-form__story--button-container">
			<p>Voeg eventueel extra titels, text, foto's of video's toe!</p>
			<button type="button" class="button--secondary" data-add="textarea">
				<%- include ../icons/add.ejs %>
				Alinea
			</button>
			<button type="button" class="button--secondary" data-add="file">
				<%- include ../icons/add.ejs %>
				Audio of Afbeelding
			</button>
			<button type="button" class="button--secondary" data-add="videolink">
				<%- include ../icons/add.ejs %>
				YouTube video
			</button>
		</section>

		<label for="tags">Deze woorden omschrijven mijn verhaal:</label>
		<span class="autocomplete inputAnimation-container" data-search="tags">
			<input class="inputAnimation" type="text" name="tags" autocomplete="off" placeholder="Bijv. Oranje, kapitein, Nederlands-Indië">
			<span class="focus-border">
				<i></i>
            </span>
		</span>		

		<button data-finish="story" type="button" class="hide-when-no-js button--primary">
			Mijn verhaal is af
		</button>	
	</fieldset>
	
	<fieldset data-disclose="done" class="upload-form__finalize">
		<h2>Bedankt voor je verhaal.</h2>
		
		<label for="email">E-mail</label>
		<span class="inputAnimation-container">
			<input class="inputAnimation" type="email" name="email" placeholder="email@adres.nl">
			<span class="focus-border">
				<i></i>
			</span>
		</span>
		<label for="phone">Telefoon nummer</label>
		<span class="inputAnimation-container">
			<input class="inputAnimation" type="tel" name="phone" placeholder="0612345678">
			<span class="focus-border">
				<i></i>
			</span>		
		</span>
		<small>Als je jouw email adres of telefoonnummer invult kunnen wij je in de toekomst nog contacteren om meer te vragen over jouw verhaal, foto's of herinneringen.</small>
		<small>Jouw email-adres wordt niet openbaar gemaakt en wij zullen je niet onnodig e-mailen.</small>

		<button type="submit" class="button--primary">Versturen</button>
	</fieldset>
</form>
