<form class="upload-form" method="post" enctype="multipart/form-data" action="/story-upload/upload">
	<label for="title">Titel</label>
	<input type="text" name="title" required>

	<label for="email">E-mail</label>
	<input type="email" name="email">

	<label for="phone">Telefoon nummer</label>
	<input type="text" name="phone">

	<label for="tags">Tags</label>
	<span class="autocomplete" data-search="tags"><input type="text" name="tags"></span>

	<label for="locations">Locatie</label>
	<span class="autocomplete" data-search="locations"><input type="text" name="location"></span>
	
	<label for="time">Tijd van verhaal</label>
	<input type="text" name="time">

	<fieldset>
		<legend>Jouw verhaal</legend>

	</fieldset>

	<fieldset>

		<legend>Add Component</legend>

		<button type="button" data-add="textarea">
			Add TextArea
		</button>

		<button type="button" data-add="file">
			Add File
		</button>

		<button type="button" data-add="subtitle">
			Add Sub Title
		</button>

		<button type="button" data-add="videolink">
			Add Youtube Link
		</button>
	</fieldset>

	<input type="submit" class="button">
</form>
