<form class="upload-form" method="post" enctype="multipart/form-data" action="/story-upload/upload">
	<legend>Begin je verhaal</legend>
	<p class="upload-form--natural-form">
		<span data-disclose="form">
			Ik ben
			<span class="inputAnimation-container">
				<input class="inputAnimation" type="text" placeholder="Naam of anoniem">
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
		<span data-disclose="form">
			en ik wil een verhaal vertellen over 
			<span class="inputAnimation-container required">
				<input class="inputAnimation" type="text" name="title" required placeholder="titel">
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
		<span data-disclose="form">
			dit speelde zich af
			<span class="autocomplete inputAnimation-container" data-search="locations">
				<input class="inputAnimation" type="text" name="location" placeholder="locatie" autocomplete="off">
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
		<span data-disclose="form">
			in het jaar 
			<span class="inputAnimation-container">
				<input class="inputAnimation" type="text" name="time" placeholder="19..">.
				<span class="focus-border">
					<i></i>
				</span>
			</span>
		</span>
	</p>

	<fieldset data-disclose="form" class="upload-form__story">
		<legend>Dit is mijn verhaal:</legend>

		<div class="element-container">
			<textarea name="storyText-1-0" data-index="0" id="story" cols="30" rows="10" placeholder="Jouw verhaal"></textarea>
			<button aria-controls="story" type="button" class="remove-element">
				Remove storyText-1-0
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.4 486.4"><path d="M446 70H344.8V53.5c0-29.5-24-53.5-53.5-53.5h-96.2c-29.5 0-53.5 24-53.5 53.5V70H40.4c-7.5 0-13.5 6-13.5 13.5S32.9 97 40.4 97h24.4v317.2c0 39.8 32.4 72.2 72.2 72.2h212.4c39.8 0 72.2-32.4 72.2-72.2V97H446c7.5 0 13.5-6 13.5-13.5S453.5 70 446 70zM168.6 53.5c0-14.6 11.9-26.5 26.5-26.5h96.2c14.6 0 26.5 11.9 26.5 26.5V70H168.6V53.5zm226 360.7c0 24.9-20.3 45.2-45.2 45.2H137c-24.9 0-45.2-20.3-45.2-45.2V97h302.9v317.2h-.1z"/><path d="M243.2 411c7.5 0 13.5-6 13.5-13.5V158.9c0-7.5-6-13.5-13.5-13.5s-13.5 6-13.5 13.5v238.5c0 7.5 6 13.6 13.5 13.6zM155.1 396.1c7.5 0 13.5-6 13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5 6-13.5 13.5v208.9c0 7.5 6.1 13.5 13.5 13.5zM331.3 396.1c7.5 0 13.5-6 13.5-13.5V173.7c0-7.5-6-13.5-13.5-13.5s-13.5 6-13.5 13.5v208.9c0 7.5 6 13.5 13.5 13.5z"/></svg>
			</button>
		</div>

		<section class="hide-when-no-js upload-form__story--button-container">
			<p>Voeg eventueel extra titels, text, foto's of video's toe!</p>
			<button type="button" class="button--secondary" data-add="textarea">
				<%- include ../icons/add.ejs %>
				Alinea
			</button>
			<button type="button" class="button--secondary" data-add="file">
				<%- include ../icons/add.ejs %>
				Audio of Afbeelding
			</button>
			<button type="button" class="button--secondary" data-add="videolink">
				<%- include ../icons/add.ejs %>
				YouTube video
			</button>
		</section>

		<button data-finish="story" type="button" class="hide-when-no-js button--primary">
			Mijn verhaal is af
		</button>	
	</fieldset>
	
	<fieldset data-disclose="done" class="upload-form__finalize">
		<h2>Bedankt voor je verhaal.</h2>

		<label for="tags">Om je verhaal te categoriseren vragen we je nog een paar steekwoorden toe te voegen:</label>
		<span class="autocomplete inputAnimation-container" data-search="tags">
			<input class="inputAnimation" type="text" name="tags" autocomplete="off" placeholder="Bijv. Oranje, kapitein, Nederlands-Indië">
			<span class="focus-border">
				<i></i>
            </span>
		</span>		
		
		<label for="email">E-mail</label>
		<span class="inputAnimation-container">
			<input class="inputAnimation" type="email" name="email" placeholder="email@adres.nl">
			<span class="focus-border">
				<i></i>
			</span>
		</span>
		<label for="phone">Telefoon nummer</label>
		<span class="inputAnimation-container">
			<input class="inputAnimation" type="tel" name="phone" placeholder="0612345678">
			<span class="focus-border">
				<i></i>
			</span>		
		</span>
		<small>Als je jouw email adres of telefoonnummer invult kunnen wij je in de toekomst nog contacteren om meer te vragen over jouw verhaal, foto's of herinneringen.</small>
		<small>Jouw email-adres wordt niet openbaar gemaakt en wij zullen je niet onnodig e-mailen.</small>

		<button type="submit" class="button--primary">Versturen</button>
	</fieldset>
</form>
