<a href="/detail/<%= ID %>" class="stories__grid--card" data-intersect="true">
	<img class="stories__grid--card-background" 
		<% if ( image ) { %>
			src="<%= image %>" 
		<% } else { %>
			src="/images/example-detail.jpg"
		<% } %>
	alt="">
	<article>
		<h2 data-intersect="true"><%= title %></h2>
		<% if ( subtitle ) { %>
			<p data-intersect="true"><%= subtitle %></p>
		<% } %>
	</article>
</a>
