.calltoaction--container {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	button {
		border: none;
		background: red;
		color: #fff;
		padding: 1rem;
		font-size: 1rem;
	}
	@include mq('medium') {
		max-width: 75%;
	}
}

.calltoaction--paragraph {
	width: 90%;
	border-left: 2px solid red;
	padding: 1rem;
	line-height: 1.4rem;
	@include mq('medium') {
		max-width: 75%;
	}
}
