<section class="report--container">
	<p>Is er iets mis met het verhaal?</p>
	<form>
		<div class="report--container--checkboxes">
			<input type="checkbox" id="incorrect" name="report"><label for="incorrect">incorrect</label>
			<input type="checkbox" id="inapproriate" name="report"> 
			<label for="inapproriate">ongepast</label>
		</div>
		<button class="report--submit--btn">submit</button> 
	</form>
</section>