<section class="report--container">
	<p>Is er iets mis met het verhaal?</p>
	<form action="/detail/<%= storyID %>/report" method="post">
		<div class="report--container--checkboxes">
			<% if ( locals.report ) { %>

				<input type="checkbox" id="incorrect" name="incorrect"
					<% if ( locals.report[ 0 ] ) { %>
						checked
					<% } else { %>
						checked="false"
					<% } %>
				>
				<label for="incorrect">incorrect</label>
				<input type="checkbox" id="inapproriate" name="ongepast"
					<% if ( locals.report[ 1 ] ) { %>
						checked="true"
					<% } else { %>
						checked="false"
					<% } %>
				> 
				<label for="inapproriate">ongepast</label>

			<% } else { %>

				<input type="checkbox" id="incorrect" name="incorrect" checked="false">
				<label for="incorrect">incorrect</label>
				<input type="checkbox" id="inapproriate" name="ongepast" checked="false">
				<label for="inapproriate">ongepast</label>

			<% } %>
		</div>
		<button type="submit" class="report--submit--btn hide-when-js">submit</button> 
	</form>
</section>