<button name="button"></button>
<div class="">
  <button type="button" name="button">Paragraaf</button>
  <button type="button" name="button">Video</button>
  <button type="button" name="button">Audio</button>
  <button type="button" name="button">Afbeelding</button>
</div>
