<div class="">
  <button type="button" name="button"></button>
  <button type="button" name="button"></button>
  <button type="button" name="button"></button>
  <button type="button" name="button"></button>
</div>
