<div class="temp--container">
  <div class="addstory--container">
    <button class="button--regular">Paragraaf</button>
    <button class="button--regular">Video</button>
    <button class="button--show">+</button>
    <button class="button--regular">Audio</button>
    <button class="button--regular">Afbeelding</button>
  </div>
</div>
