
  <div class="addstory--container">
    <button class="button--regular--hidden">Paragraaf</button>
    <button class="button--regular--hidden">Video</button>
    <button class="button--show">+</button>
    <button class="button--regular--hidden">Audio</button>
    <button class="button--regular--hidden">Afbeelding</button>
  </div>
