
<div class="temp--container">

  <div class="addstory--container">
    <button type="button" name="button">Paragraaf</button>
    <button type="button" class="button--responsive" name="button">Video</button>
    <button name="button" class="button--show">+</button>
    <button type="button" class="button--responsive" name="button">Audio</button>
    <button type="button" name="button">Afbeelding</button>
  </div>
</div>
