
<div class="temp--container">

  <div class="addstory--container">
    <button class="button--regular">Paragraaf</button>
    <button class="button--responsive">Video</button>
    <button class="button--show">+</button>
    <button class="button--responsive">Audio</button>
    <button class="button--regular">Afbeelding</button>
  </div>
</div>
