.map {
	height: 50vh;
	@include hardware;
	margin: 0 -5%;
	@include mq('xl') {
		margin: 0 -10%;
	}

	&__svg {
		transform: scale(1);
		transform-origin: top left;
		max-width: 100%;
		max-height: 50vh;
		display: block;
		margin: 0 auto;
		background-color: $colorBlue;

		// All route groups that contain 19 in the id
		g[id^="year19"] g path {
			stroke-width: 0.25rem;
			stroke-dasharray: 20, 5;
			stroke: white;
		}

		.anchor {
			width: 1.5rem;
			height: 1.5rem;

			path {
				position: relative;
				z-index: 10000;
				fill: green !important;
			}
		}

		[class$="-clone"] {
			fill-opacity: 1;
			stroke-opacity: 0.8;
		}

		.svgBoat {
			z-index: z("boat");
			background-color: white;
			width: 2rem;
			height: 2rem;
		}

		&--container {
			width: 100%;
			background-color: $colorBlue;
			@include mq("small") {
				height: 40vh;
			}
			@include mq("medium") {
				height: 50vh;
			}
		}

		&--land {
			fill: #ccc;
			fill-opacity: 1;
			stroke: white;
			stroke-opacity: 1;
			stroke-width: 0.5;
		}

		#worldLow {
			polygon,
			> path {
				fill: $colorWhite;
				stroke: blue;
			}
		}
	}
}

.map__year--list {
	display: flex;
	justify-content: center;
	max-width: 80%;
	flex-flow: row wrap;

	li {
		position: relative;
		display: flex;
		min-width: 6rem;
		margin-right: 0.5rem;

		button {
			-webkit-appearance: none;
			height: 3rem;
			width: 100%;
			font-size: 1rem;
			@include mq("small") {
				font-size: 1rem;
			}
			@include mq("medium") {
				font-size: 1rem;
			}
		}
	}
}

.map__year--container {
	padding: 0 1rem;
	width: 100%;
}
