<section class="map" >
	<section class="map__svg--container">
		<% include ../../../src/images/worldLow.svg %>
	</section>
</section>
<button type="button" class="play-pause play-button hide-when-no-js">
	<% include ../../../src/images/play.svg %>
</button>	
<button type="button" class="play-pause pause-button hide-when-no-js">
	<% include ../../../src/images/pause.svg %>
</button>
<div class="map__year--container">
	<p class="map__title--sub">Bekijk per jaar de vaarroute van de Oranje</p>	
	<ul class="map__year--list">
		<li data-state="active"><button class="hide-when-no-js map__year--button" data-year="1939" data-state="active">1939</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1946">1946</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1947">1947</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1948">1948</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1949">1949</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1950">1950</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1951">1951</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1952">1952</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1953">1953</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1954">1954</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1955">1955</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1956">1956</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1957">1957</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1958">1958</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1959">1959</button></li>
		<li><button class="hide-when-no-js map__year--button" data-year="1960">1960</button></li>
	</ul>
</div>
<h1 class="map__title" data-intersect="true">De verhalenvanger</h1>
