<section class="map" >
	<section class="map__svg--container">
		<% include ../../../src/images/worldLow.svg %>
	</section>
</section>
<h1 class="map__title">De verhalenvanger</h1>
<h2 class="map__title--sub">Bekijk per jaar de verhalen over de Oranje</h2>	
<div class="map__year--container">
		<ul class="map__year--list">
			<li><button data-year="1939" data-state="active">1939</button></li>
			<li><button data-year="1940">1940</button></li>
			<li><button data-year="1953">1953</button></li>
			<li><button data-year="1954">1954</button></li>
			<li><button data-year="1958">1958</button></li>
			<li><button data-year="1959">1959</button></li>
		</ul>
</div>